amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.5.3
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==5.2.2
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
idna==3.10
kombu==5.5.4
numpy==2.3.0
packaging==25.0
pandas==2.3.0
pillow==11.2.1
prompt_toolkit==3.0.51
# psycopg2==2.9.10  ← 삭제
psycopg[binary]>=3.1
python-dateutil==2.9.0.post0
pytz==2025.2
redis==6.2.0
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13

# 배포용 추가
gunicorn==23.0.0
python-decouple
django-redis